<div style="margin:10px;padding:20px;border:1px solid red;">
<app-component-a></app-component-a>
</div>
<br>
<hr>

<div style="margin:10px;padding:20px;border:1px solid green;">
<app-component-b></app-component-b>
</div>
<hr>


<div style="margin:10px;padding:20px;border:1px solid blue;">
<app-component-c></app-component-c>
</div>
<!-- <div style="margin:10px;padding:20px;border:1px solid red;">
<app-component-a></app-component-a>
</div>

<div style="margin:10px;padding:20px;border:1px solid green;">
<app-component-b></app-component-b>
</div> -->